<!-- views/pages/bookinstance_list.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
		<title><%= title %></title> 
		<% include ../partials/head %>
  </head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<% include ../partials/sidebar %>
				<div class="col-sm-10">
          <h1><%= title %></h1>
          <ul>
          <% if (bookinstance_list.length) { 
            bookinstance_list.forEach(function(instance) { %>				
						  <li>
                <a href='<%= instance.url %>'>
                  <%- instance.book.title %> :
                  <%- instance.imprint %>
                </a> -
                <% if(instance.status == 'Available') { %>
                  <mark class="sucess">Disponível</mark>
                <% } else if(instance.status == 'Maintenance') { %>
                  <mark class="danger">Manutenção</mark>
                <% } else { %>
                  <mark class="warning">Emprestado</mark>
                <% } if(instance.status != 'Available') { %>
                  <span>(Data de entrega : <%= instance.due_back_formatted %>)</span>
                <% } %>
              </li>
            <% }) 
          } else { %> 
            <li>Não há exemplares na biblioteca. </li>  
          <% } %>
          </ul>
				</div>
			</div>
		</div>
	</body>
</html>    