<!-- views/pages/book_form.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
		<title><%= title %></title> 
		<% include ../partials/head %>
  </head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<% include ../partials/sidebar %>
				<div class="col-sm-10">
          <h1><%= title %></h1>

          <form method="POST" action="" id="book-form">

            <div class="form-group" style="margin-right:60%;">
              <label for="title"> Título: </label>
              <input id="title" class="form-control" placeholder="Nome do livro"  
                name="title" type="text" required="true"
                value="<%- undefined===book ? '' : book.title %>">
            </div>

            <div class="form-group" style="margin-right:60%;">
              <label for="author"> Autor(a): </label>
              <select id="author" class="form-control" type="select" 
                placeholder="Selecione o(a) autor(a)" required="true"
                name="author">
                <% authors.forEach(function(author) {
                  if(book) { %>
                    <option value="<%= author._id %>"
                      <%- ((author._id.toString()==book.author._id) || 
                        (author._id.toString()==book.author)) 
                        ? 'selected' : false %>>
                      <%- author.name %>                    
                    </option>
                  <% } else { %>	
                    <option value="<%= author._id %>">
                      <%- author.name %>
                    </option>
                  <% }
                }); %>
              </select>
            </div>

            <div class="form-group" style="margin-right:60%;">
              <label for="summary"> Sinopse: </label>
              <textarea id="summary" form="book-form" class="form-control" placeholder="Sinopse do livro"  
                name="summary" type="textarea" required="true"
                rows="7" cols="80">
                <%= undefined===book ? '' : book.summary %>
              </textarea>
            </div>

            <div class="form-group" style="margin-right:60%;">   
              <label for="isbn"> ISBN: </label>
              <input id="isbn" class="form-control" placeholder="ISBN13"  
                 name="isbn" type="text" required="true"
                value="<%= undefined===book ? '' : book.isbn %>">
            </div>

            <div class="form-group" style="margin-right:60%;">
              <label for="genre"> Gênero(s): </label>
              <div>
                <% genres.forEach(function(genre) { %>			
                  <div style="display: inline; padding-right:10px;">
                    <input class="checkbox-input" type="checkbox" name="genre"
                      id="<%= genre._id %>" value="<%= genre._id %>"
                      <%- (genre.checked == 'true') ? 'checked' : false  %>>
                    <label for="<%= genre._id %>"><%= genre.name %></label>
                  </div>              
                <% }); %>
              </div>
            </div>

            <button class="btn btn-primary" type="submit">Cadastrar</button>  
          </form>
          <br> 
          
          <% if(errors.length) { %>  
            <ul>   
            <% for (var i in errors) { %>			
              <li>
                <%= errors[i].msg %>
              </li>           
            <% } %>
            </ul>   
          <% } %>	

				</div>
			</div>
		</div>
	</body>
</html>    